.design
    &-top
        margin-top: 100px
        margin-bottom: 39px
        @extend .bottom-title
        color: black
        &__title
            margin-bottom: 12px
        &__descr
            font-family: FuturaBookC
            font-size: 20px
            line-height: 27px
            text-align: center

            color: #363636
        &__logo
            position: relative
            margin-bottom: 24px
            &:after, 
            &:before
                position: absolute
                content: ''
                display: block
                height: 2px
                width: 32px
                background-color: $accent-text-color
            &:after
                bottom: 50%
                right: 43.5%
            &:before
                right: 53%
                top: 45%
    &-center
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        &-item
            &__text
                box-sizing: border-box
                margin: 0 auto
                max-width: 330px
                position: relative
                top: -136px
                background-color: #fff
                padding: 25px 29px 30px 34px
                
                &_title
                    font-family: YesevaOne
                    font-weight: 400

                    font-size: 18px
                    line-height: 25px

                    color: #363636
                    margin-bottom: 13px
                &_subtitle
                    font-family: FuturaBookC
                    font-size: 15px
                    margin-bottom: 14px

                    color: #959595
                    position: relative
                    margin-left: 8px
                    &::before
                        content: ''
                        display: inline-block
                        width: 4px
                        height: 4px
                        position: absolute
                        top: calc( 50% - 2px )
                        left: -7px
                        background-color: #959595
                        border-radius: 50%
                    &:nth-last-child(2)
                        margin-bottom: 29px
                        
                &_price
                    position: absolute
                    font-family: YesevaOne
                    font-weight: 400
                    font-size: 18px
                    line-height: 25px
                    text-transform: uppercase
                    background-color: $accent-text-color
                    color: $text-color
                    display: inline-block
                    padding: 17px 72px 17px 33px
                    left: 0
@media screen and ( max-width: 1365px )
    .design-center-item__text
        box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3)
    .design-center
        justify-content: space-around
        &-item
            flex-basis: 34%
            text-align: center
    .design-center-item__text
        text-align: left
    .design-top 
        margin-top: 100px
@media screen and ( max-width: 920px )
    .design
        background-color: $bg-main
        padding-top: 40px
        margin-top: -1px
    .design-top__logo:after
        right: 42.5%
    .design-top__logo:before
        left: 42.5%
    .design-center

        &-item
            flex-basis: 100%
            margin-bottom: -37px
            img 
                width: 71%
    .design-center-item__text
        max-width: 60%
    .design-top__title
        font-size: 22px
        color: $text-color
    .design-top__descr
        color: $text-color
        font-size: 15px
        line-height: 135.84%
    .design-center-item__text_title
        font-size: 15px
    .design-center-item__text_subtitle
        font-size: 13px
        line-height: 169.8%

    .design-center-item__text_price
        box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3)
@media screen and ( max-width: 750px )
    .design
        background-color: $bg-main
        padding-top: 40px
        margin-top: -1px
    .design-top__logo:after
        right: 40.5%
    .design-top__logo:before
        left: 40.5%
    .design-center

        &-item

            img 
                width: 80%
    .design-center-item__text
        max-width: 70%
@media screen and ( max-width: 600px )
    .design
        background-color: $bg-main
        padding-top: 40px
        margin-top: -1px
    .design-top__logo:after
        right: 38.5%
    .design-top__logo:before
        left: 38.5%
    .design-center

        &-item

            img 
                width: 80%
    .design-center-item__text
        max-width: 70%
@media screen and ( max-width: 500px )
    .design-center

        &-item

            img 
                width: 90%

    .design-top__logo:after
        right: 36.5%
    .design-top__logo:before
        left: 36.5%
    
@media screen and ( max-width: 400px )
    .design-top
        margin-top: 0
    .design-top__logo:after
        right: 34.5%
    .design-top__logo:before
        left: 34.5%
    
    .design-center-item__text
        max-width: 270px
@media screen and ( max-width: 375px )
    .design-top
        margin-top: -98px
    
    .design-center-item__text
       margin: 0
    .design-center

        &-item

            img 
                width: 100%
    .design-top__descr
        font-size: 14px
        margin-bottom: 39px
    .design-center-item__text_subtitle
        line-height: 169.8%
        margin-bottom: 0

    .design-center-item__text_title
        margin-bottom: 0
    .design-center-item__text
        padding-top: 18px
    .design-center-item__text_subtitle:nth-last-child(2) 
        margin-bottom: 11px
