@import './_var'

.container
    max-width: 90%
    margin: 0 auto
body 
    margin: 0
    padding: 0
h1
    padding: 0
    margin: 0
h2
    padding: 0
    margin: 0
.top
    background-color: $bg-main
    // z-index: -5
    padding-top: 2%
    position: relative
.button
    display: inline-block
    border: 0
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2)
    border-radius: 2px
    background-color: $accent-text-color
    color: $text-color
    outline: none
    font-family: FuturaDemiC
    font-size: 13px
    line-height: 15px
    text-align: center
    text-transform: uppercase
    padding: 13px 33px
    cursor: pointer
    
    &-medium
        padding: 19px 41px
        margin-right: 20px
        border: 1px solid $accent-text-color
        &_white
            margin-right: 0
            background: transparent
            border: 1px solid $text-color
             
.header
    display: flex
    align-items: center
    margin-bottom: 2%
    
   
    // width: 100%
    // justify-content: space-between
    &-scroll
        bottom: -2px
        z-index: 50
        position: absolute
        background-color: $bg-main
        
        font-family: YesevaOne
        font-weight: 400
        font-size: 14px
        line-height: 19px
        text-transform: uppercase
        padding: 40px 90px 40px 48px
        a
            text-decoration: none
            color: $text-color
        &::after
            content: ''
            background-image: url('../assets/img/type.png')
            background-repeat: no-repeat
            background-size: cover
            width: 29px
            height: 29px
            display: block
            z-index: 50
            right: 40px
            top: 33px
            position: absolute

    &-nav
        display: flex
        flex-basis: 80%
        justify-content: space-between
        font-family: FuturaBookC
        font-size: 14px
        
        
        &__item
            margin-right: 4%
            height: 100%
            display: flex
            align-items: center
            &:active>a
                color: $accent-text-color
            &:hover>a
                transition: 0.5s
                color: $accent-text-color
            &:nth-child(7)
                margin-right: 2%
            &:last-child>a
                color: $accent-text-color
                border-bottom: 1px solid $accent-text-color
                
            &:last-child
                
                margin: 0
            &_link
                color: $text-color
    &-medium
        display: flex
        
        &-left
            display: flex
            text-align: center
            
            flex-basis: 5%
            position: relative
            
            justify-content: center
            transform: rotate(90deg)
            font-family: FuturaDemiC
            font-weight: 400
            font-size: 16px
            align-items: center
            color: $accent-text-color
            &::before
                
                position: absolute
                margin-left: 90%
                content: ''
                display: block
                height: 1px
                width: 51px
                background-color: $accent-text-color



            

        &-right
            flex-basis: 100% 
            background-image: url('../assets/img/bg-header.jpg')
            background-repeat: no-repeat
            background-size: cover
            background-position: center center
            height: 707px
            display: flex
            position: relative
            flex-direction: column
            justify-content: center
            &::after
                content: ''
                display: block
                background-color: #000
                height: 100%
                left: 0
                opacity: 0.50
                position: absolute
                top: 0
                width: 100%
                z-index: 1
                            

            &-text
               max-width: 542px
               z-index: 100
               margin-left: 3%
               &__title
                    font-family: YesevaOne
                    font-weight: 400
                    font-size: 40px
                    line-height: 53px
                    text-transform: uppercase
                    color: $text-color
                    margin-bottom: 19px
                    &_span
                        color: $accent-text-color
               &__subtitle
                    font-family: FuturaBookC
                    text-align: left
                    max-width: 500px 
                    font-size: 22px
                    line-height: 30px
                    font-weight: 400
                    color: $text-color
                    margin-bottom: 41px
            

    
        
    &-nav-wrapper
        display: flex
        align-items: center
        list-style-type: none
        padding: 0
        margin: 0
        color: $text-color
        width: 100%
    &-logo
        flex-basis: 35%
        margin-right: 3%
        font-family: FuturaDemiC
        font-size: 14px
        line-height: 16px
        text-transform: uppercase
        font-weight: 400
        cursor: pointer
        &__link
            color: $accent-text-color

    
    a 
        
        text-decoration: none

@media screen and ( max-width: 1365px )
    .header
        &-nav,
        &-logo
            font-size: 12px
    .button-header
        font-size: 12px
        padding: 10px 15px

@media screen and ( max-width: 1160px )
    .header
        &-logo
            font-size: 10px
            flex-basis: 31%
@media screen and ( max-width: 1084px )
    .header
        &-logo
            h1
                font-size: 12px
        &-nav
            &__item
                margin-right: 2%
        &-nav
            &-wrapper
                justify-content: flex-end
@media screen and ( max-width: 950px )
    .top
        padding-top: 0
    .header
        padding-top: 20px
        padding-bottom: 20px
        margin-bottom: 0
        &-logo
            flex-basis: 32%
            margin-right: 0
        &-nav
            &-wrapper
                justify-content: flex-end
            &__item
                margin-right: 1%

    .button-header
        display: none
@media screen and ( max-width: 895px )
    
    .header
        
        &-logo
            flex-basis: 50%

        &-nav
            &__item
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(6)
                
                    display: none
@media screen and ( max-width: 685px )
    .header
        &-logo
            flex-basis: 67%

        &-nav
            &__item
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(6),
                &:nth-child(1),
                &:nth-child(5)
                
                    display: none
        
@media screen and ( max-width: 570px )
    .header
        &-logo
            flex-basis: 57%
        &-nav
            flex-basis: 44%

        &-nav
            &__item
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(6),
                &:nth-child(1),
                &:nth-child(5),
                &:nth-child(2)
                
                    display: none
@media screen and ( max-width: 420px )
    .header
        padding-top: 24px
        &-logo
            flex-basis: 57%
        &-nav
            flex-basis: 44%

        &-nav
            &__item
               
                &:nth-child(7)
                
                    display: none
        