.team
    margin-top: -980px
    &-top 
        @extend .bottom-title
        justify-content: center
        align-items: center
        color: black
        display: flex
        flex-direction: column
        color: $text-color
        
        &__title
            margin-bottom: 12px
        &__logo
            position: relative
            margin-bottom: 24px

            &:after, 
            &:before
                position: absolute
                content: ''
                display: block
                height: 2px
                width: 32px
                background-color: $accent-text-color
            &:after
                bottom: 17px
                right: 45px
            &:before
                right: -45px
                top: 18px
        &__descr
            font-family: FuturaBookC
            font-size: 20px
            line-height: 27px
            max-width: 532px
            color: $text-color
            margin-bottom: 85px
    &-center
        display: flex
        justify-content: center
        flex-wrap: wrap
        align-items: center
        &-line
            
            margin-bottom: 5px
            height: 2px
            width: 55px
            margin-top: -60px
            background-color: $accent-text-color
        &-bottom
            font-family: FuturaBookC
            font-size: 20px
            line-height: 34px
            text-align: center
            color: #363636
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            margin-bottom: 80px
            
            p 
                max-width: 555px
                margin: 0
                padding: 0
        &-item
            flex-basis: 33% 
            text-align: center
            position: relative
            &::after
                content: ''
                display: inline-block
                background-color: $accent-text-color
                
                width: 70px
                height: 70px
                position: relative
                top: -524px
                left: -135px
                background-image: url('../assets/img/idea.png')
                background-repeat: no-repeat
                background-position: 50% 50%
                box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5)

            &-text 
                font-family: YesevaOne
                font-weight: 400
                font-size: 18px
                line-height: 25px
                position: relative
                top: -30px

                
                box-sizing: border-box
                max-width: 233px
                
                
                margin: 0 auto
                color: #181818
                background-color: #fff
                &__title

                    padding: 20px 18px 0px 18px
                &__subtitle
                    font-family: FuturaBookC
                    font-size: 18px
                    line-height: 26px
                    text-align: center

                    color: rgba(149, 149, 149, 1)
                    margin-bottom: 13px   
                &__descr
                    font-family: YesevaOne
                    font-style: normal
                    font-weight: normal
                    font-size: 13px
                    line-height: 20px
                    text-align: center
                    text-transform: uppercase
                    
                    color: $text-color
                    background-color: $accent-text-color
                    padding: 13px 15px
                    border: 0
                    
                            
@media screen and ( max-width: 1100px  )
    .team-center
        position: relative
        &-item
            flex-basis: 50%
    .team-center-line
        position: absolute
        top: 101%
        margin-bottom: 0
        
@media screen and ( max-width: 701px  )
    .team
        background-color: $bg-main
        padding-bottom: 1px
    .team-center-bottom
        color: $text-color
    .team-top__title
        font-size: 22px
    .team-top__descr
        font-size: 18px
    .team-center-item
        flex-basis: 100%
        &::after
            top: -5%
            left: 9%
            position: absolute
    .team-center-item__img
        img
            width: 70%
    .team-center-item-text
        max-width: 330px
        margin-bottom: 50px
@media screen and ( max-width: 580px )
    .team-center-item-text
        max-width: 270px
@media screen and ( max-width: 520px )
    .team-center-item-text
        max-width: 270px
    .team-center-item
        flex-basis: 100%
        &::after
  
            left: 7%
@media screen and ( max-width: 460px )
    .team-center-item-text
        max-width: 240px
    .team-center-item__img
        img
            width: 80%
    
    .team-center-item

        &::after
  
            left: 2%
@media screen and ( max-width: 420px )
    .team-center-item-text
        max-width: 233px
    
// .team
//     padding-bottom: 1px
@media screen and ( max-width: 400px )

        
    .team
        margin-top: -2px
    
@media screen and ( max-width: 375px )

    
    .team-center-item

        &::after
  
            left: 1%

    .team-center-bottom,
    .team-center-line
        display: none
