.bottom-title,
.online-control-bottom-text {
  font-family: YesevaOne;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  padding: 0;
  margin: 0;
}

h2 {
  padding: 0;
  margin: 0;
}

.top {
  background-color: #131313;
  padding-top: 2%;
  position: relative;
}

.button {
  display: inline-block;
  border: 0;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  background-color: #E3B873;
  color: #ffffff;
  outline: none;
  font-family: FuturaDemiC;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  padding: 13px 33px;
  cursor: pointer;
}

.button-medium {
  padding: 19px 41px;
  margin-right: 20px;
  border: 1px solid #E3B873;
}

.button-medium_white {
  margin-right: 0;
  background: transparent;
  border: 1px solid #ffffff;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2%;
}

.header-scroll {
  bottom: -2px;
  z-index: 50;
  position: absolute;
  background-color: #131313;
  font-family: YesevaOne;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  padding: 40px 90px 40px 48px;
}

.header-scroll a {
  text-decoration: none;
  color: #ffffff;
}

.header-scroll::after {
  content: '';
  background-image: url("../assets/img/type.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 29px;
  height: 29px;
  display: block;
  z-index: 50;
  right: 40px;
  top: 33px;
  position: absolute;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 80%;
  flex-basis: 80%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: FuturaBookC;
  font-size: 14px;
}

.header-nav__item {
  margin-right: 4%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-nav__item:active > a {
  color: #E3B873;
}

.header-nav__item:hover > a {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: #E3B873;
}

.header-nav__item:nth-child(7) {
  margin-right: 4%;
}

.header-nav__item:last-child > a {
  color: #E3B873;
  border-bottom: 1px solid #E3B873;
}

.header-nav__item:last-child {
  margin: 0;
}

.header-nav__item_link {
  color: #ffffff;
}

.header-medium {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-medium-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-preferred-size: 5%;
  flex-basis: 5%;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  font-family: FuturaDemiC;
  font-weight: 400;
  font-size: 16px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #E3B873;
}

.header-medium-left::before {
  position: absolute;
  margin-left: 90%;
  content: '';
  display: block;
  height: 1px;
  width: 51px;
  background-color: #E3B873;
}

.header-medium-right {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  background-image: url("../assets/img/bg-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 707px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-medium-right::after {
  content: '';
  display: block;
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.50;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header-medium-right-text {
  max-width: 542px;
  z-index: 100;
  margin-left: 3%;
}

.header-medium-right-text__title {
  font-family: YesevaOne;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 19px;
}

.header-medium-right-text__title_span {
  color: #E3B873;
}

.header-medium-right-text__subtitle {
  font-family: FuturaBookC;
  text-align: left;
  max-width: 500px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 41px;
}

.header-nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #ffffff;
  width: 100%;
}

.header-logo {
  -ms-flex-preferred-size: 35%;
  flex-basis: 35%;
  margin-right: 3%;
  font-family: FuturaDemiC;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
}

.header-logo__link {
  color: #E3B873;
}

.header a {
  text-decoration: none;
}

.bottom-title,
.online-control-bottom-text {
  font-family: YesevaOne;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.online-control-wrapper {
  background-color: #131313;
  padding-top: 90px;
  padding-bottom: 160px;
  color: #ffffff;
}

.online-control-medium-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 91px;
}

.online-control-medium-left {
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
  margin-right: 7%;
  overflow: hidden;
}

.online-control-medium-left-wrapper {
  overflow: hidden;
}

.online-control-medium-left__title {
  font-family: Yeseva One;
  margin-top: 170px;
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 27px;
  line-height: 46px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #E3B873;
  position: relative;
}

.online-control-medium-left__title h2 {
  padding: 0;
  margin: 0;
}

.online-control-medium-left__title_line {
  bottom: 23%;
  right: 17%;
  position: absolute;
  display: block;
  height: 1px;
  width: 92px;
  background-color: #E3B873;
  z-index: 10;
}

.online-control-medium-left__subtitle {
  font-family: FuturaBookC;
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  margin-bottom: 42px;
}

.online-control-medium-left-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.online-control-medium-left-descr__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: FuturaBookC;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  margin-right: 34px;
  margin-bottom: 34px;
}

.online-control-medium-left-descr__item:first-child {
  max-width: 120px;
}

.online-control-medium-left-descr__item span {
  font-family: Yeseva One;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #E3B873;
}

.online-control-medium-left-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 252px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.online-control-medium-left-arrows__item {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

.online-control-medium-left-arrows__item:nth-child(2) {
  background-color: #ffffff;
}

.online-control-medium-left-arrows__item_left {
  position: relative;
  width: 41px;
  height: 1.34px;
  background-color: #fff;
  left: 0;
  display: block;
  cursor: pointer;
}

.online-control-medium-left-arrows__item_left::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 1.34px;
  top: -3px;
  left: 0;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  cursor: pointer;
}

.online-control-medium-left-arrows__item_left::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 1.34px;
  top: 3px;
  left: 0;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
}

.online-control-medium-left-arrows__item_right {
  position: relative;
  width: 41px;
  height: 1.34px;
  background-color: #fff;
  right: 0;
  display: block;
  cursor: pointer;
}

.online-control-medium-left-arrows__item_right::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 1.34px;
  top: -3px;
  right: 0;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.online-control-medium-left-arrows__item_right::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 1.34px;
  top: 3px;
  right: 0;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.online-control-medium-left-arrows-wrapper__item_left {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.online-control-medium-right {
  -ms-flex-preferred-size: 52%;
  flex-basis: 52%;
}

.online-control-medium-right-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 42px;
}

.online-control-medium-right-top__item {
  text-decoration: none;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  height: 100%;
  color: rgba(255, 255, 255, 0.3);
  margin-right: 9%;
}

.online-control-medium-right-top__item_active {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: #E3B873;
  padding-bottom: 7px;
  border-bottom: 1px solid #E3B873;
}

.online-control-medium-right-img {
  overflow: hidden;
  position: relative;
  max-width: 679px;
  height: 482px;
}

.online-control-medium-right-img img {
  width: 100%;
  height: 100%;
}

.online-control-medium-right-img img:nth-child(1) {
  overflow: hidden;
  position: absolute;
  z-index: 5;
}

.online-control-medium-right-img img:nth-child(2) {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.online-control-medium-right-img_click {
  bottom: 268px;
  left: 107%;
  display: inline-block;
  width: 52px;
  height: 52px;
  background-color: #E3B873;
  position: relative;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
  box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
}

.online-control-medium-right-img_click svg {
  position: absolute;
  top: 30%;
  left: 40%;
}

.online-control-bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.online-control-bottom-text__title {
  margin-bottom: 12px;
}

.online-control-bottom-text__logo {
  margin-bottom: 31px;
  position: relative;
}

.online-control-bottom-text__logo:after,
.online-control-bottom-text__logo:before {
  position: absolute;
  content: '';
  display: block;
  height: 1px;
  width: 32px;
  background-color: #E3B873;
}

.online-control-bottom-text__logo:after {
  bottom: 51%;
  left: 14%;
}

.online-control-bottom-text__logo:before {
  right: 14%;
  top: 51%;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  top: -168px;
}

.video video {
  -webkit-box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: auto;
}

.video-wrapper-post {
  max-width: 817px;
  position: relative;
}

.video-wrapper-post__click {
  bottom: calc(50% - (85px/2));
  left: calc(50% - (85px/2));
  display: inline-block;
  width: 85px;
  height: 85px;
  background-color: #E3B873;
  position: absolute;
  border-radius: 50%;
  -webkit-box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
  box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
}

.video-wrapper-post__click svg {
  position: absolute;
  top: calc(50% - (26px/2));
  left: calc(50% - (16px/2));
}

.video-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: -110px;
}

.video-text__line {
  text-align: center;
  width: 55px;
  height: 2px;
  border-radius: 30px;
  background-color: #E3B873;
}

.video-text__descr {
  margin-top: 34px;
  margin-bottom: 80px;
  font-family: FuturaBookC;
  font-size: 13px;
  line-height: 34px;
  text-align: center;
  color: #363636;
}

.video-text__descr_1 {
  display: inline-block;
  width: 681px;
}

.video-text__descr_2 {
  display: inline-block;
  width: 681px;
}

.video-text__descr_3 {
  display: inline-block;
  width: 681px;
}

.video-text__descr_4 {
  display: inline-block;
  width: 681px;
}

.video-text-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.video-text-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 35px;
}

.video-text-form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video-text-form__item_name {
  margin-right: 52px;
}

.video-text-form__item_label {
  font-family: FuturaBookC;
  font-size: 15px;
  line-height: 20px;
  color: rgba(54, 54, 54, 0.5);
  -webkit-transform: rotate(-0.07deg);
  -ms-transform: rotate(-0.07deg);
  transform: rotate(-0.07deg);
}

.video-text-form__item_input {
  font-family: FuturaBookC;
  font-size: 18px;
  line-height: 24px;
  color: #363636;
}

.video-text-form__item_input input {
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.5);
}

.video-text-form__item_input input::-webkit-input-placeholder {
  color: black;
}

.video-text-form__item_input input::-moz-placeholder {
  color: black;
}

.video-text-form__item_input input:-ms-input-placeholder {
  color: black;
}

.video-text-form__item_input input::-ms-input-placeholder {
  color: black;
}

.video-text-form__item_input input::placeholder {
  color: black;
}

.video-text-form__button_input {
  padding: 20px 75px;
}

.video-text-form__subtitle {
  font-family: FuturaBookC;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #181818;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.video-text-form__subtitle label {
  position: relative;
}

.video-text-form__subtitle label::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -25px;
  background-color: #E3B873;
  width: 18px;
  height: 18px;
  border-radius: 1px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.video-text-form__subtitle label::after {
  content: '';
  display: none;
  position: absolute;
  top: 2px;
  left: -8.54%;
  width: 12px;
  height: 12px;
  background-image: url("../assets/img/Vector.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.video-text-form__subtitle input {
  visibility: hidden;
}

.video-text-form__subtitle input:checked ~ label::after {
  display: block;
}